src/main/mule/git-action.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="88aa5f2c-c27d-473e-b9e7-485361fef25a" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="git-actionFlow" doc:id="d46fc4e0-2d3f-45dc-a85f-4973aea91237" >
		<http:listener doc:name="Listener" doc:id="547dbf27-0093-4655-9742-45d4d013f6ab" config-ref="HTTP_Listener_config" path="/git-action"/>
		<set-payload value='#["working"]' doc:name="Set Payload" doc:id="5e686940-fad3-4382-92de-49433b740a58" />
		<logger level="INFO" doc:name="Logger" doc:id="9c99fc5a-ed99-40e6-b1c4-5749e24258ca" message="#[payload]"/>
	</flow>
</mule>
